
<h1>{{section.settings.text }}</h1>

{% for block in section.blocks %}
	{% if block.type == '@app' %}
		{% render block %}
	{% endif %}
	<a href="{{ block.settings.url }}">{{ block.settings.text }}</a>
{% endfor %}

{% schema %}
{
	"name": "Custom Section",
	"settings": [
		{
			"type": "text",
			"id": "text",
			"label": "Write Your Text"
		}
	],
	"presets": [
		{ "name": "Tedia Custom Section" }
	],
	"tag": "header",
	"class": "custom-section",
	"limit": 1,
	"blocks": [
		{
			"type": "@app"
		},
		{
			"name": "social links",
			"type": "social",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Text of Social Links"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Social Links URL"
				}
			]
		},
		{
			"name": "Paragraph",
			"type": "paragraph",
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"label": "Text of Social Links"
				}
			]
		}
		
	]
}
{% endschema %}